* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

/* Hero Section */
.hero-section {
    background-image: url(./Neflix\ background.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
}

.hero-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #000, transparent);
}


/* Navbar */
.navbar {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    width: 120px;
    height: 40px;
    background: url(./logo.png) center/contain no-repeat;
    /* margin-left: 10%; */
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-right: 10%; */
}

.language-select {
    background-color: transparent;
    color: #fff;
    padding: 8px 25px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.3s;
}

.language-select:hover {
    border: 2px double #fff;
}

.language-select option {
    color: #000;
}

.btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e50914;
}

/* Hero Text */
.hero {
    position: relative;
    z-index: 10;
    text-align: center;
    top: 40%;
    transform: translateY(-40%);
    padding: 0 20px;
}

.hero h1 {
    font-size: 3.5rem;
    /* font-weight: 800; */
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.hero h5 {
    font-size: 1.2rem;
    margin-top: 20px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2rem;
    margin-top: 30px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.email-form input {
    padding: 15px;
    width: 60%;
    max-width: 400px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.email-form input::placeholder {
    color: #ccc;
}

.email-form button {
    padding: 15px 25px;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.email-form button:hover {
    background-color: #e50914;
}

.line {
    width: 100%;
    height: 10vw;
    position: relative;
    background: radial-gradient(50% 500% at 50% -420%,
            rgba(64, 97, 231, 0.4) 80%,
            rgba(0, 0, 0, 0.1) 100%),
        black;
    border-top: 4px solid #e50914;
    /* Red Netflix border */
    /* border-bottom: none; */
    /* border-left: none; */
    /* border-right: none; */
    z-index: 2;
}

/* Movies Section */
.movies-section {
    padding: 4px 140px;
}

.movies-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.movie-row {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.movie-row::-webkit-scrollbar {
    display: none;
}

.movie {
    min-width: 180px;
    height: 250px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.movie:hover {
    transform: scale(1.1);
}



/* Reasons Section */
.reasons-section {
    width: 100%;
    padding: 5rem 0;
    /* text-align: center; */
}

.reasons-section h2 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    margin-left: 10%;
    color: #fff;
}

.reason-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.reason {
    width: 17rem;
    min-height: 20rem;
    border-radius: 10px;
    background: linear-gradient(to bottom left, #192144, #1b1d3b, #1d172d, #1e1426);
    position: relative;
    padding: 1rem;
}

.reason h1 {
    font-weight: 500;
}

.reason p {
    color: #aaabb7;
    margin-top: 0.5rem;
}

.reason svg {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* FAQ Section */
.faq-section {
    max-width: 80%;
    margin: auto;
    padding: 4rem 0;
}

.faq-section h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

details {
    background-color: #2d2d2d;
    margin-bottom: 10px;
    font-size: 1.5rem;
    transition: background 0.3s;
}

details:hover {
    background-color: #414141;
}

summary {
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

summary::-webkit-details-marker {
    display: none;
}

summary svg {
    transition: transform 0.3s;
    color: #fff;
}

details[open] summary svg {
    transform: rotate(45deg);
}

details p {
    padding: 20px;
    border-top: 1px solid #000;
    font-size: 1.5rem;
    line-height: 1.5;
    animation: fadeIn 0.3s ease;
}

/* Footer Section */
.footer-section {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
    color: #aaa;
}

.input-section {
    text-align: center;
    margin-bottom: 2rem;
}

.input-section p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.inputs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.inputs-container input {
    padding: 0.8rem;
    width: 300px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 1rem;
    background: transparent;
    color: #fff;
}

.inputs-container button {
    padding: 0.8rem 1.5rem;
    background: #e50914;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.inputs-container button:hover {
    background: #f40612;
}

.query p,
.query p a {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 600;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links ul li a {
    color: #aaaaaa;
    font-size: 14px;
    /* text-decoration: none; */
    transition: color 0.3s;
}

.links ul li a:hover {
    text-decoration: underline;
    color:#e50914;
}

.footer-section span p {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .movies-section {
        padding: 30px 50px;
    }

    .reason {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 20px;
    }

    .logo {
        width: 100px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .email-form input {
        width: 80%;
    }

    .movies-section {
        padding: 20px;
    }

    .reason {
        width: 100%;
    }

    .inputs-container input {
        width: 200px;
    }

    .language-select {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}